{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Сайтдан чиқиш" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-5">

        <h4>{% trans "Сайтдан чиқиш" %}</h4>

        <p>{% trans 'Демак, сайтдан чиқмоқчисиз?' %}</p>

        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <button class="btn btn-danger" type="submit">{% trans 'Ҳа, чиқмоқчиман' %}</button>
        </form>
    </div>
  </div>
</div>

{% endblock %}
