{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
      <h5>Лойиҳа ҳақида</h5>
      <p>Лойиҳадан кўзланган мақсад — гуруҳ иштирокчилари учун Фейсбукда имкони йўқ бўлган қулайликларни сайт кўринишида дастурлаш. Сайт Фейсбук тармоғига тўғридан-тўғри бириктирилгани боис сайтдаги маълумотлар ҳар 20 дақиқада автоматик равишда янгиланиб турилади. Сайт коди <a href="https://github.com/muminoff/tarjimonlar">очиқ</a>.</p>
      <h5>Кредитлар</h5>
      <p>Сайтни тўлақонли ишлаши учун қуйидаги технологиялардан фойдаланилди:</p>
      <ul class="credits">
        <li><a href="https://www.python.org/">Python</a> дастурлаш тили</li>
        <li><a href="https://www.djangoproject.com/">Django</a> веб фреймворк</li>
        <li><a href="https://developers.facebook.com/">Facebook API</a> хизмати</li>
        <li><a href="http://getbootstrap.com/">Twitter Bootstrap</a> CSS фреймворк</li>
        <li><a href="http://designmodo.com/flat/">Flat UI</a> CSS дизайн пакети</li>
        <li><a href="http://jquery.com/">jQuery</a> Javascript кутубхонаси</li>
        <li><a href="http://d3js.org/">D3</a> Javascript кутубхонаси</li>
        <li><a href="http://www.postgresql.org/">PostgreSQL</a> маълумотлар базаси</li>
        <li><a href="http://www.elasticsearch.org/">ElasticSearch</a> қидирув сервери</li>
        <li><a href="http://redis.io/">Redis</a> тезкор маълумот структураси сервери</li>
        <li><a href="http://www.ubuntu.com/">Ubuntu</a> очиқ кодли операцион тизими</li>
        <li><a href="http://aws.amazon.com/ru/">Amazon Web Services</a> платформаси</li>
      </ul>
      <br/>
      <hr/>
      <p><strong>Эслатма</strong></p>
      <p class="eslatma">Гуруҳ ҳақидаги барча маълумотлар Фейсбук API орқали олинади. Сайтда контентни таҳрирловчи администратор ёки модератор йўқ. Маълумотлар интернетда очиқ оммага чиқарилмайди, яъни сиз гуруҳда ёзган пост ёки шарҳ (Google, Yandex) қидирув тизимларида чиқмайди.</p>
      <!-- <p class="eslatma">Сайтда чиққан ҳар қандай маълумот учун сайт маъмури жавобгар эмас. Сайтдан олинган маълумотлардан фойдаланиш чекланмаган, манба сифатида сайт манзилини кўрсатишингиз ҳам шарт эмас. Фойдаланаверинг бемалол.</p> -->
      <p class="eslatma">Сайт ҳақидаги фикр-мулоҳаза, шикоят ва таклифларингизни гуруҳда алоҳида пост очиб ёки <a href="mailto:dev@tarjimonlar.org">dev@tarjimonlar.org</a> почта манзилига ёзиб билдиришингиз мумкин.</p>
    </div>
</div>
{% endblock content %}
