{% extends "base.html" %}
{% block content %}
<div class="row">
    <h5>Гуруҳдаги охирги янгиликлар</h5>
    <div class="col-md-6">
        <h5>Постлар</h5>
        <table class="table table-condensed">
            <tbody>
                {% for post in last_ten_posts %}
                <tr>
                    <td>{{ post.created_time|date:"d-m-Y" }}</td>
                    <td>{{ post.creator.name }} <a href="https://fb.com/{{ post.id }}" target="_blank">пост</a> ёзди.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table> 
    </div>
    <div class="col-md-6">
        <h5>Шарҳлар</h5>
        <table class="table table-condensed">
            <tbody>
                {% for comment in last_ten_comments %}
                <tr>
                    <td>{{ comment.created_time|date:"d-m-Y" }}</td>
                    <td>{{ comment.creator.name }} <a href="https://fb.com/{{ comment.id }}" target="_blank">шарҳ</a> ёзди.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table> 
    </div>
</div>
{% endblock %}
