{% extends "base.html" %}
{% block content %}
<div class="row">
    <h5>Гуруҳдаги сўнгги янгиликлар</h5>
        <table class="table table-condensed">
            <tbody>
                <td><span class="icon icon-post"></span><strong> Постлар</strong></td>
                {% for post in last_ten_posts %}
                <tr>
                  <td><img src="https://graph.facebook.com/{{ post.creator.id }}/picture?type=square&width=32&height=32"/> {{ post.creator }}</td>
                  <td>{{ post.created_time|date:"d-m-Y H:i" }}</td>
                  <td>{{ post.message|truncatechars:50 }}</td>
                  <td><a class="btn btn-xs btn-inverse" href="https://www.fb.com/{{ post.id }}/" target="_blank"><span class="icon-link"></span></a></td>
                </tr>
                {% endfor %}
                <td><span class="icon icon-comment"></span><strong> Шарҳлар</strong></td>
                {% for comment in last_ten_comments %}
                <tr>
                  <td><img src="https://graph.facebook.com/{{ comment.creator.id }}/picture?type=square&width=32&height=32"/> {{ comment.creator }}</td>
                  <td>{{ comment.created_time|date:"d-m-Y H:i" }}</td>
                  <td>{{ comment.message|truncatechars:50 }}</td>
                  <td><a class="btn btn-xs btn-inverse" href="https://www.fb.com/{{ comment.post.id }}/" target="_blank"><span class="icon-link"></span></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table> 
</div>
{% endblock content %}
