{% extends "base.html" %}
{% block content %}
<div class="row">
    <p>Гуруҳдаги сўнгги янгиликлар</p>
        <table class="table table-condensed">
            <tbody>
                {% for post in last_ten_posts %}
                <tr>
                    <td>Иштирокчи {{ post.creator }} {{ post.created_time|date:"d-m-Y H:M:S" }} да пост ёзди <a href="https://fb.com/{{ post.id }}">Link</a></td>
                </tr>
                {% endfor %}
                {% for comment in last_ten_comments %}
                <tr>
                    <td>{{ comment.creator }} {{ comment.created_time|date:"d-m-Y H:%M:S" }} да <a href="https://fb.com/{{ comment.post.id }}">пост</a>га шарҳ ёзди <a href="https://fb.com/{{ comment.id }}">Link</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table> 
</div>
{% endblock content %}
