{% extends "base.html" %}
{% block content %}
<div class="row">
    <p>Гуруҳдаги жами иштирокчилар: {{ total_members }}.</p>
    <div class="col-md-6">
        <h5>Энг кўп пост ёзганлар</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Пост эгаси</th>
                    <th>Постлар</th>
                </tr>
            </thead>
            <tbody>
                {% for poster in top_posters %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="https://www.facebook.com/{{ poster.id }}/" target="_blank"><img src="https://graph.facebook.com/{{ poster.id }}/picture?type=square&width=32&height=32"/></a> {{ poster.name }}</td>
                    <td>{{ poster.num_posts }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table> 
    </div>
    <div class="col-md-6">
        <h5>Энг кўп шарҳ ёзганлар</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Шарҳ эгаси</th>
                    <th>Шарҳлар</th>
                </tr>
            </thead>
            <tbody>
                {% for commentor in top_commentors %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="https://www.facebook.com/{{ commentor.id }}/" target="_blank"><img src="https://graph.facebook.com/{{ commentor.id }}/picture?type=square&width=32&height=32"/></a> {{ commentor.name }}</td>
                    <td>{{ commentor.num_comments }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-6">
        <h5>Ёзган пости кўп лайк олганлар</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Пост эгаси</th>
                    <th>Лайклар</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for post in top_liked_posters %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="https://www.facebook.com/{{ post.creator.id }}/" target="_blank"><img src="https://graph.facebook.com/{{ post.creator.id }}/picture?type=square&width=32&height=32"></a> {{ post.creator.name }}</td>
                    <td>{{ post.likes }}</td>
                    <td><a class="btn btn-xs btn-inverse" href="https://www.facebook.com/{{ post.id }}/" target="_blank"><span class="icon-link"></span></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table> 
    </div>
    <div class="col-md-6">
        <h5>Ёзган шарҳи кўп лайк олганлар</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Шарҳ эгаси</th>
                    <th>Лайклар</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for comment in top_liked_commentors %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="https://www.facebook.com/{{ comment.creator.id }}/" target="_blank"><img src="https://graph.facebook.com/{{ comment.creator.id }}/picture?type=square&width=32&height=32"/></a> {{ comment.creator.name }}</td>
                    <td>{{ comment.likes }}</td>
                    <td><a class="btn btn-xs btn-inverse" href="https://www.facebook.com/{{ comment.id }}/" target="_blank"><span class="icon-link"></span></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table> 
    </div>
</div>
{% endblock content %}
