{% extends "base.html" %}
{% block content %}
<div class="row">
    <p>Гуруҳдаги жами постлар: {{ total_posts }}.</p>
    <div class="col-md-6">
        <h4>Энг кўп мунозара бўлган постлар</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Пост матнидан парча</th>
                    <th>Шарҳлар</th>
                </tr>
            </thead>
            <tbody>
                {% for post in top_commented_posts %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="https://www.facebook.com/{{ post.id }}/" target="_blank">{{ post.message|slice:"50" }}...</td>
                    <td>{{ post.num_comments }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table> 
    </div>
    <div class="col-md-6">
        <h4>Кўпчиликка манзур бўлган постлар</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Пост эгаси</th>
                    <th>Лайклар</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for post in top_liked_posts %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="https://www.facebook.com/{{ post.creator.id }}/" target="_blank"><img src="https://graph.facebook.com/{{ post.creator.id }}/picture?type=square&width=32&height=32"/></a> {{ post.creator..name }}</td>
                    <td>{{ post.likes }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table> 
    </div>
</div>
{% endblock %}
