{% extends "base.html" %}
{% load staticfiles i18n %}
{% load localize_time %}
{% block content %}
<div class="row">
    <h4>Постлар бўйича</h4>
    <div class="col-md-12">
      Гуруҳдаги жами постлар: {{ total_posts }}.
      <h5>Кунлик статистика</h5>
      <div id="daily_posts" style="height: 300px;"><svg></svg></div>
    </div>
    <div class="col-md-8">
        <h5>Ойлик статистика</h5>
        <div id="monthly_posts" style="height: 250px;"></div>
    </div>
    <div class="col-md-4">
        <h5>Йиллик статистика</h5>
        <div id="yearly_posts" style="height: 250px;"></div>
    </div>
</div>
{% endblock %}
