{% extends "base.html" %}
{% load highlight %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
      <form name="search_form" method="get" action=".">
        <input type="text" class="form-control" name="q" id="q" value="{{ request.GET.q }}" placeholder="Нима қидирмоқчисиз?" {% if not query %}autofocus required{% endif %}>
        <div class="row-fluid">
            <label class="checkbox checkbox-inline" for="post-check">
                <input type="checkbox" value="" id="post-check" data-toggle="checkbox" class="custom-checkbox" checked><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                Постлардан
            </label>
            <label class="checkbox checkbox-inline" for="comment-check">
                <input type="checkbox" value="" id="comment-check" data-toggle="checkbox" class="custom-checkbox" checked><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                Шарҳлардан
            </label>
            <label class="checkbox checkbox-inline" for="translit-check">
                <input type="checkbox" value="" id="translit-check" data-toggle="checkbox" class="custom-checkbox" checked><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                Транслитерация
            </label>
            <label class="checkbox checkbox-inline" for="resultsort-check">
                <input type="checkbox" value="" id="resultsort-check" data-toggle="checkbox" class="custom-checkbox" checked><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                Вақт бўйича саралаш
            </label>
            <label class="checkbox checkbox-inline" for="likesort-check">
                <input type="checkbox" value="" id="likesort-check" data-toggle="checkbox" class="custom-checkbox" checked><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                Лайклар сони бўйича саралаш
            </label>
        </div>
      </form>
    </div>
</div>
{% if query %}
<hr/>
<div class="row">
  {% if page.object_list %}
  <p>«{{ request.GET.q }}» сўрови бўйича {{ paginator.count }} та натижа топилди.</p>
  {% else %}
  <p>«{{ request.GET.q }}» сўрови бўйича маълумот топилмади.</p>
  {% endif %}
  <table class="table table-condensed">
    <tbody>
      {% for result in page.object_list %}
      <tr>
        {% if result.object.message %}
        <td><p class="small">{{ forloop.counter }}.</p></td>
        <td><a href="https://www.facebook.com/{{ result.object.creator.id }}/" target="_blank"><img src="https://graph.facebook.com/{{ result.object.creator.id }}/picture?type=square&width=32&height=32"/></a></td>
        <td><p class="small">{% if result.object.get_type == 'comment' %}<span class="icon-comment"></span>{% else %}<span class="icon-post"></span>{% endif %}</p></td>
          <td><p class="small">{% highlight result.object.message with query css_class "found_result" max_length 100 %}</p></td>
        {% else %}
        <td><p class="small">{{ forloop.counter }}.</p></td>
        <td><p class="small"><img src="https://graph.facebook.com/{{ result.object.id }}/picture?type=square&width=32&height=32"/> {{ result.object.name }}</p></td>
        <td><p class="small">{% if result.object.get_type == 'comment' %}<span class="icon-comment"></span>{% else %}<span class="icon-post"></span>{% endif %}</p></td>
        <td><p class="small">{{ result.object.name }}</p></td>
        {% endif %}
        <td><a class="btn btn-xs btn-inverse" target="_blank" href="https://fb.com/{{ result.object.id }}/">Очиб кўриш</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
<div class="header">
    {% if page.has_previous or page.has_next %}
    {% if page.has_previous %}
    <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}" class="btn btn-xs btn-info pull-left">Аввалгилари</a>
    {% else %}
    {% endif %}
    {% if page.has_next %}
    <a href="?q={{ query }}&amp;page={{ page.next_page_number }}" class="btn btn-xs btn-info pull-right">Кейингилари</a>
    {% else %}
    {% endif %}
    {% endif %}
</div>
<br/>
<br/>
{% endblock %}
