{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-lg-12">
      <div class="col-lg-6">
          <div class="input-group">
              <!-- <input type="text" class="form-control" placeholder="Нима қидирмоқчисиз?" autofocus required> -->
              <input type="text" class="form-control" placeholder="Нима қидирмоқчисиз?">
              <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Қидирмоқ</button>
              </span>
          </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    <div class="row-fluid">
      <label class="checkbox" for="post-check">
        <input type="checkbox" value="" id="post-check" data-toggle="checkbox" class="custom-checkbox" checked><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
        Постлардан қидириш
      </label>
      <label class="checkbox" for="comment-check">
        <input type="checkbox" value="" id="comment-check" data-toggle="checkbox" class="custom-checkbox" checked><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
        Комментлардан қидириш
      </label>
      <label class="checkbox" for="translit-check">
        <input type="checkbox" value="" id="translit-check" data-toggle="checkbox" class="custom-checkbox" checked><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
        Транслитерация
      </label>
    </div>
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
{% endblock content %}
