{% extends "base.html" %}
{% load highlight %}
{% block content %}
<div class="row">
    <h5>Қидириш</h5>
    <div class="col-lg-12">
      <form name="search_form" method="get" action=".">
        <input type="text" class="form-control" name="q" id="q" placeholder="Нима қидирмоқчисиз?" autofocus required>
        <div class="row-fluid">
            <label class="checkbox" for="post-check">
                <input type="checkbox" value="" id="post-check" data-toggle="checkbox" class="custom-checkbox" checked><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                Постлардан
            </label>
            <label class="checkbox" for="comment-check">
                <input type="checkbox" value="" id="comment-check" data-toggle="checkbox" class="custom-checkbox" checked><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                Комментлардан
            </label>
            <label class="checkbox" for="translit-check">
                <input type="checkbox" value="" id="translit-check" data-toggle="checkbox" class="custom-checkbox" checked><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                Транслитерация
            </label>
        </div>
      </form>
    </div>
</div>
{% if query %}
<div class="row">
  <h5>Натижалар</h5>
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>Ким томондан</th>
        <th>Матн</th>
        <th>Ҳавола</th>
      </tr>
    </thead>
    <tbody>
      {% for result in page.object_list %}
      <tr>
        {% if result.object.message %}
        <td><p class="small"><img src="https://graph.facebook.com/{{ result.object.creator.id }}/picture?type=square&width=32&height=32"/> {{ result.object.creator.name }}</td>
        <td><p class="small">{% highlight result.object.message with query css_class "label label-default" max_length 100 %}</p></td>
        {% else %}
        <td><p class="small"><img src="https://graph.facebook.com/{{ result.object.id }}/picture?type=square&width=32&height=32"/> {{ result.object.name }}</td>
        <td><p class="small">{{ result.object.name }}</p></td>
        {% endif %}
        <td><a class="btn btn-xs btn-inverse" target="_blank" href="https://fb.com/{{ result.object.id }}/">Link</a></td>
      </tr>
      {% empty %}
      <tr>
        <td>No results</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
{% endblock %}
