{% load staticfiles i18n %}
{% load pipeline %}
<!doctype html>
<html lang="uz">
  <head>
    <title>{% block title %}Таржимонлар гуруҳи{% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Таржимонлар гуруҳи">
    <meta name="keywords" content="ўзбек, ўзбек тили, ўзбекча, таржима, таржимон, таржимонлар, ўзбеклар фейсбукда, бадиий китоблар, бадиий асарлар, ўзбек таржималар">
    <meta name="robots" content="index, follow">
    <meta name="copyright" content="Uzbek Translators">
    <meta name="language" content="uzbek">
    <meta name="web_author" content="@muminoff">
    <meta name="author" content="@muminoff">
    <meta name="rating" content="general">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    {% stylesheet 'bootstrap' %}
    {% stylesheet 'flat' %}
    {% stylesheet 'project' %}
    {% if request.path == '/comments/' or request.path == '/posts/' %}
    {% stylesheet 'chart' %}
    {% endif %}
  </head>
  <body>
      <div class="col-xs-12">
          <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
          <div class="collapse navbar-collapse" id="navbar-collapse-01">
              <ul class="nav navbar-nav navbar-left">
                  {% for k, v in menus.items %}
                  <li {% if v.active %}class="active"{% endif %}><a href="{% url k 2015 %}"><span class="icon-{{ v.icon }}"></span> {{ v.title }}</a></li>
                  {% endfor %}
              </ul>
          </div>
          </nav>
      </div>

      <div class="container">
          {% block content %}{% endblock %}
      </div>
  </body>
</html>
