{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
      <p class="memo">Лойиҳадан кўзланган асосий мақсад — гуруҳ иштирокчилари учун Фейсбукда имкони йўқ бўлган қулайликларни сайт кўринишида дастурлаш. Сайт Фейсбукка бириктирилгани боис гуруҳ статистикалари ҳар суткада автоматик равишда янгиланиб турилади. Лойиҳа ҳақидаги ҳар қандай фикр мулоҳазаларингизни гуруҳга пост ёзиб билдиришингиз мумкин. Сайт коди <a href="https://github.com/muminoff/tarjimonlar">очиқ</a>. Дастурчи кўнгиллилар бўлса, сайт ишлашини мукаммалаштириш борасидаги <a href="https://github.com/muminoff/tarjimonlar/pulls">ташаббуслари</a> жуда ҳуш кўрилади.</p>
    </div>
</div>
{% endblock content %}
