{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <p>Лойиҳадан кўзланган мақсад — гуруҳ иштирокчилари учун Фейсбукда имкони йўқ бўлган қулайликларни сайт кўринишида дастурлаш. Сайт Фейсбук тармоғига тўғридан-тўғри бириктирилгани боис сайтдаги маълумотлар ҳар соатда автоматик равишда янгиланиб турилади. Сайт коди <a href="https://github.com/muminoff/tarjimonlar">очиқ</a>. 
        <p class="pull-right"><a href="https://www.twitter.com/muminoff/">Сардор Мўминов</a></p>
    </div>
</div>
{% endblock content %}
