{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <h4>Энг кўп пост ёзганлар</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Пост эгаси</th>
                    <th>Постлар</th>
                </tr>
            </thead>
            <tbody>
                {% for poster in top_posters %}
                <tr>
                    <td><a href="https://www.facebook.com/{{ poster.id }}/"><img src="https://graph.facebook.com/{{ poster.id }}/picture?type=square&width=32&height=32"/></a> {{ poster.name }}</td>
                    <td>{{ poster.num_posts }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table> 
    </div>
    <div class="col-md-6">
        <h4>Энг кўп коммент ёзганлар</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Коммент эгаси</th>
                    <th>Комментлар</th>
                </tr>
            </thead>
            <tbody>
                {% for commentor in top_commentors %}
                <tr>
                    <td><a href="https://www.facebook.com/{{ commentor.id }}/"><img src="https://graph.facebook.com/{{ commentor.id }}/picture?type=square&width=32&height=32"/></a> {{ commentor.name }}</td>
                    <td>{{ commentor.num_comments }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h4>Энг кўп лайк олган пост эгалари</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Пост эгаси</th>
                    <th>Лайклар</th>
                    <th>Пост</th>
                </tr>
            </thead>
            <tbody>
                {% for post in top_liked_posters %}
                <tr>
                    <td><a href="https://www.facebook.com/{{ post.creator.id }}/"><img src="https://graph.facebook.com/{{ post.creator.id }}/picture?type=square&width=32&height=32"/></a> {{ post.creator.name }}</td>
                    <td>{{ post.likes }}</td>
                    <td><a class="btn btn-xs btn-block btn-inverse" href="https://www.facebook.com/{{ post.id }}" target="_blank">Очиб кўриш <span class="icon-link"></span></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table> 
    </div>
    <div class="col-md-6">
        <h4>Энг кўп лайк олган коммент эгалари</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Коммент эгаси</th>
                    <th>Лайклар</th>
                    <th>Коммент</th>
                </tr>
            </thead>
            <tbody>
                {% for comment in top_liked_commentors %}
                <tr>
                    <td><a href="https://www.facebook.com/{{ comment.creator.id }}/"><img src="https://graph.facebook.com/{{ comment.creator.id }}/picture?type=square&width=32&height=32"/></a> {{ comment.creator.name }}</td>
                    <td>{{ comment.likes }}</td>
                    <td><a class="btn btn-xs btn-block btn-inverse" href="https://www.facebook.com/{{ comment.id }}" target="_blank">Очиб кўриш  <span class="icon-link"></span></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table> 
    </div>
</div>
{% endblock content %}
